@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'myfont';
  src: url("../fonts/Museo700-Regular-webfont.eot");
  src: url("../fonts/Museo700-Regular-webfont.ttf") format("truetype"), url("../fonts/Museo700-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo700-Regular-webfont.woff") format("woff"); }

@font-face {
  font-family: 'port_font';
  src: url("../fonts/RockSalt-webfont.ttf") format("truetype"), url("../fonts/RockSalt-webfont.eot") format("embedded-opentype"), url("../fonts/RockSalt-webfont.woff") format("woff"); }

@font-face {
  font-family: 'port_fonts';
  src: url("../fonts/fontawesome-webfont.ttf"), url("../fonts/fontawesome-webfont.eot"), url("../fonts/fontawesome-webfont.woff"), url("../fonts/fontawesome-webfont.svg"); }

/* ===========================
   ========= Icons Font ======
   =========================== */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-size: inherit;
  margin-right: 4px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-folder, .icon-envelope, .icon-users, .icon-home, .icon-github, .icon-facebook, .icon-linkedin, .icon-arrow-down, .icon-arrow-up {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-envelope:before {
  content: "\61"; }

.icon-home:before {
  content: "\68"; }

.icon-users:before {
  content: "\63"; }

.icon-folder:before {
  content: "\65"; }

.icon-github:before {
  content: "\67"; }

.icon-facebook:before {
  content: "\66"; }

.icon-arrow-down:before {
  content: "\64"; }

.icon-linkedin:before {
  content: "\6c"; }

.icon-arrow-up:before {
  content: "\75"; }

/* ===========================
   ========= Headings ========
   =========================== */
h2 {
  font-size: 1.571em; }

/* 22px */
h3 {
  font-size: 1.429em; }

/* 20px */
h4 {
  font-size: 1.286em; }

/* 18px */
h5 {
  font-size: 1.143em; }

/* 16px */
h6 {
  font-size: 1em; }

/* 14px */
h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .8em; }

img {
  max-width: 100%; }

ul, li {
  list-style-type: none; }

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

body {
  color: white;
  font-size: 87.5%;
  /* Base font size: 14px */
  font-family: "myfont";
  line-height: 1.429;
  margin: 0;
  padding: 0;
  text-align: left;
  background-image: url("../img/port_bg.png");
  background-image: url("../img/port_bg.png");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

img {
  max-width: 100%; }

header {
  margin: 40px 60px; }
  @media screen and (max-width: 480px) {
    header {
      margin: 20px 0px; } }

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2em; } }

h2 {
  font-size: 0.8em; }

a {
  text-decoration: none;
  color: white; }

p {
  font-size: 1.3em;
  margin: 0 0 2em;
  color: #ebeded;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px; }
  @media screen and (max-width: 480px) {
    p {
      font-size: 1.5em;
      margin: 0 0 1em;
      line-height: 1.2; } }

nav {
  font-size: 1.143em;
  line-height: 1.3em;
  float: right;
  text-align: left;
  margin-right: 12px; }
  nav a {
    color: #f3f3f3;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 40px; }
    nav a:hover {
      font-weight: normal;
      color: #0098c3;
      text-shadow: none !important; }
  @media screen and (max-width: 480px) {
    nav {
      float: none;
      text-align: center;
      margin: 0 auto; } }

ul {
  margin: 0 auto; }
  ul li {
    display: inline; }
    ul li h2 {
      font-size: 2em; }

.objective {
  margin: 120px 0 140px;
  clear: both;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .objective {
      margin: 20px 0 10px; } }
  .objective img {
    width: 140px; }

.scroll, .top {
  font-size: 40px; }
  .scroll span, .top span {
    color: #0098c3; }
    .scroll span:hover, .top span:hover {
      opacity: 0.4; }
  .scroll h6, .top h6 {
    margin: 0;
    font-size: 13px; }

#content {
  width: 100%;
  background-color: #3a75bc;
  text-align: center;
  padding: 1em 3em;
  height: 290px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 480px) {
    #content {
      height: 450px;
      padding: 1em 0.3em; } }
  #content strong {
    font-size: 1.4em;
    font-weight: 400;
    display: block;
    margin-top: 0.4em; }

#fluid-example-container {
  margin-bottom: 150px; }
  #fluid-example-container h2 {
    font-size: 32px; }

#mobile-container {
  display: none; }

.btn {
  background: #ebeded;
  line-height: 1.5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  border: 0;
  opacity: 0.7;
  padding: 5px 10px; }
  .btn:hover {
    opacity: 1;
    background: wheat;
    cursor: pointer; }
  .btn a {
    color: #3a75bc; }

.top {
  color: white;
  position: fixed;
  bottom: 1em;
  right: 2em;
  display: none;
  text-align: center; }

.kwicks {
  height: 350px; }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .kwicks {
      height: 440px; } }
  .kwicks p {
    font-size: 22px;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
    margin: 0; }

.kwicks > li {
  height: 350px;
  text-align: center; }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .kwicks > li {
      height: 440px; } }

.panel-1, .panel-2, .panel-3 {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5; }
  .panel-1:hover, .panel-2:hover, .panel-3:hover {
    opacity: 1; }

.panel-1 {
  background-color: #53b388; }

.panel-2 {
  background-color: #5a69a9; }

.panel-3 {
  background-color: #c26468; }

#panel-4 {
  background-color: #bf7cc7; }

@media screen and (max-width: 480px) {
  #fluid-example-container {
    display: none; }

  .top {
    right: 0.1em; }

  div {
    font-size: 30px; }

  #mobile-container {
    width: 100%;
    text-align: center;
    margin-bottom: 4em;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #mobile-container ul {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #mobile-container li {
      width: 100%;
      height: 100%;
      display: block;
      padding: 1em 0.5em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #mobile-container p {
      font-size: 0.8em;
      margin: 1em 0;
      line-height: 1; }
    #mobile-container h2 {
      font-size: 1.3em;
      margin: 0; } }
