@import 'bourbon/bourbon';
@import "neat/neat";
@import 'icon';

$mobile: new-breakpoint(max-width 480px 4);

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
body {
  color: white;
  font-size: 87.5%; /* Base font size: 14px */
  font-family: "myfont";
  line-height: 1.429;
  margin: 0;
  padding: 0;
  text-align: left;
  @include background-image(url("../img/port_bg.png"));
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  max-width: 100%;
}
header {
  margin: 40px 60px;
    @include media($mobile){
    margin: 40px 0px;
  }
}
h1 {
  font-size: 2.5em;
  @include media($mobile){
    font-size: 2em;
  }
}
h2 {
  line-height: 0.1;
  font-size: 25px;
}
a { text-decoration: none; color: white;}
p {
  font-size: 1.3em;
  margin: 0 0 2em;
  color: nth($background,1);
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  @include media($mobile){
    font-size: 1em;
    margin: 0 0 2em;
  }
}
nav{
  font-size: 1.143em;
  line-height: 1.3em;
  float: right;
  text-align: left;
  margin-right: 12px;
  a{
    color: nth($font-color,4);
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 40px;
    &:hover {
      font-weight: normal;
      color: nth($font-color,3);
      text-shadow: none !important;
    }
  }
   @include media($mobile){
    float: none;
    text-align: center;
    margin: 0 auto;
   }
}
ul {
  margin: 0 auto;
  li {
    display: inline;
  }
}

.objective {
  margin: 120px 0;
  clear: both;
  text-align: center;
    @include media($mobile){
   margin: 40px 0 140px;
  }
  img {
    width: 140px;
  }
}

div {
  font-size: 40px;
  span {
   color: nth($font-color,3);
   &:hover {
    opacity: 0.4;
   }
  }
  h6{
    margin: 0;
    font-size: 13px;
  }
}
#content {
  width: 100%;
  background-color: #3a75bc;
  text-align: center;
  padding: 1em 3em;
  height: 260px;
}
#fluid-example-container {
  margin-bottom: 120px;
}
.top{
  color: white;
  position: fixed;
  bottom: 1em;
  right: 2em;
  display: none;
    @include media($mobile){
     right: 1em;
  }
}
.kwicks {
  height: 200px;
  p {
    font-size:22px;
    padding-top: 2em;
    text-align:center;
    width: 100%;
    margin:0;
  }
}
.kwicks > li {
  height: 300px;
  text-align: center;
}

#panel-1, #panel-2, #panel-3 {
  opacity: 0.5;
 &:hover {opacity:1;}
}
#panel-1 { background-color: #53b388; }
#panel-2 { background-color: #5a69a9; }
#panel-3 { background-color: #c26468; }
#panel-4 { background-color: #bf7cc7; }

/***************Mobile*******************/





