* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #ffffff;
  font-size: 87.5%;
  /* Base font size: 14px */
  font-family: "Verdana", sans-serif;
  line-height: 1.429;
  margin: 0; }

#main_container {
  background: url(../image/bg.png) repeat;
  width: 817px;
  height: 1050px;
  margin: 0 auto; }
  @media screen and (max-width: 480px) {
    #main_container {
      width: 100%;
      height: 100%; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    #main_container {
      width: 100%;
      height: 100%; } }

#wrapper {
  height: auto;
  background: #000000;
  margin: 0 2em; }
  @media screen and (max-width: 480px) {
    #wrapper {
      text-align: center;
      margin: 0; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    #wrapper {
      text-align: center;
      margin: 0; } }

img {
  max-width: 100%; }

ul {
  margin: 0;
  clear: both;
  padding: 0;
  width: 100%; }
  @media screen and (max-width: 480px) {
    ul {
      width: 100%; } }
  ul li {
    list-style: none;
    display: block;
    cursor: pointer;
    float: left; }
    @media screen and (max-width: 480px) {
      ul li {
        float: none; } }

@media screen and (max-width: 480px) {
  header ul li {
    float: left; } }

.navbar {
  background: #1b2226;
  border-top: 1px solid #85a5b1;
  height: 1.6em;
  padding: 0.2em 0.5em; }
  @media screen and (max-width: 480px) {
    .navbar {
      height: auto; } }
  .navbar li {
    color: #85a5b1;
    padding: 0em 0.5em;
    border-right: 1px solid #85a5B1;
    font-size: 0.8em; }
    @media screen and (max-width: 480px) {
      .navbar li {
        border-bottom: 1px solid #85a5b1;
        border-right: 0;
        font-size: 1.2em;
        padding: 0.3em 0; } }
    .navbar li:last-child {
      color: #ffffff;
      border-right: 0; }
      @media screen and (max-width: 480px) {
        .navbar li:last-child {
          border-bottom: 0; } }

header li a {
  display: block;
  width: 80px;
  height: 54px;
  margin-left: 1px;
  background-image: url("../image/menu.png"); }

.poker a {
  background-position: 0px 0; }
  .poker a:hover {
    background-position: 0px -58px; }

.casino a {
  background-position: 249px 0; }
  .casino a:hover {
    background-position: 249px -58px; }

.sports a {
  background-position: 165px 0; }
  .sports a:hover {
    background-position: 166px -58px; }

.live a {
  background-position: 82px 0; }
  .live a:hover {
    background-position: 82px -58px; }

.cta {
  width: 100%;
  text-align: center;
  height: auto; }
  .cta button {
    background-image: url("../image/cta.png");
    width: 15.85em;
    height: 4.4em;
    position: relative;
    bottom: 3.2em;
    left: 0.16em;
    border: 0;
    background-color: transparent;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.cta.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='cta.png', sizingMethod='scale')"; }
    .cta button:hover {
      background-position: 0 -4.958em; }

article {
  text-align: center;
  width: 40%; }
  @media screen and (max-width: 480px) {
    article {
      width: 100%; } }
  article h1 {
    font-weight: bold;
    margin: 1.3em 0 0; }
  article li {
    float: none;
    font-size: 1em; }

.left {
  float: left;
  width: 50%; }
  @media screen and (max-width: 480px) {
    .left {
      float: none;
      width: 100%; } }

.right {
  float: right;
  width: 50%; }
  @media screen and (max-width: 480px) {
    .right {
      float: none;
      width: 100%; } }

.content {
  padding: 0 1.2em;
  margin: -2em 0 0;
  width: 100%;
  height: auto; }
  .content .status {
    padding: 1em 0;
    height: 11em;
    width: 100%; }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      .content .status {
        height: auto; } }
    @media screen and (max-width: 480px) {
      .content .status {
        padding-left: 10%; } }
    .content .status li {
      float: left;
      width: 242px;
      height: 118px;
      background-image: url(../image/sections.png); }
      @media screen and (max-width: 480px) {
        .content .status li {
          margin-bottom: 1em; } }
      @media screen and (min-width: 481px) and (max-width: 768px) {
        .content .status li {
          float: none;
          margin: 0 auto 1em; } }
    .content .status .download_poker {
      background-position: 0 0; }
      .content .status .download_poker:hover {
        background-position: 0 118px; }
    .content .status .play_casino {
      background-position: -242px 0; }
      .content .status .play_casino:hover {
        background-position: -242px 118px; }
    .content .status .bet_sports {
      background-position: -480px 0; }
      .content .status .bet_sports:hover {
        background-position: -480px 118px; }

.bottom {
  width: 100%;
  height: auto;
  border-top: 1px solid #85a5b1;
  padding: 1.5em 0;
  clear: both; }
  .bottom header {
    width: inherit;
    text-align: center;
    background-color: #1b2226;
    padding: 0.3em 0;
    margin-bottom: 1em; }
    .bottom header h4 {
      font-size: 1em;
      margin: 0; }
  .bottom ul {
    width: 100%;
    height: 8em; }
    @media screen and (max-width: 480px) {
      .bottom ul {
        height: auto; } }
  .bottom article {
    text-align: left;
    margin-left: 3.2em;
    font-size: 0.81em;
    color: #636363;
    width: inherit; }
    @media screen and (max-width: 480px) {
      .bottom article {
        margin: 0 auto;
        text-align: center;
        font-size: 1.2em; } }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      .bottom article {
        font-size: 0.11em; } }

.footer {
  border-top: 0; }
  .footer ul {
    clear: none; }
  .footer li:last-child {
    color: #85a5b1; }
